{% extends 'base.html' %}

{% block title %} Password change successful {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-success mx-auto mt-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title align-center">Password change successful</h5>
                         <p class="card-text text-center">Your password has been successfully changed.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}