{% extends 'base.html' %}
{% load static %}

{% block title %} List of Categories {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                {{ current_datetime|date:"d-m-Y H:i:s" }}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        <div class="col-md-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                   Filters
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"
                                    id="exampleModalLabel">Filters</h1>
                                <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form method="get">
                            <div class="modal-body">
                                  {{ form_filters.as_p }}
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-outline-primary"
                                       >Filters
                                </button>
                                <a href="{% url 'list-of-category' %}" class="btn btn-outline-danger">
                                    Reset
                                </a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-8 offset-md-2">
        <br>
            <h2 class="text-center mb-4">All Categories</h2>
            {% if all_categories %}
                <table class="table">
                    <thead class="table1">
                        <tr>
                            <th>No.</th>
                            <th>Category Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for category in all_categories %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ category.name }}</td>
                                 <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-danger dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            more actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"
                                                   href="{% url 'update-category' category.id %}">Update</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   href="{% url 'delete-category' category.id %}">Delete</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   href="{% url 'details-category' category.id %}">View
                                                details</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center">No categories available</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    No categories available.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
