/* style.css */

/* Stilizare pentru logo */
.logo-img {
    width: 220px; /* Lățimea dorită a logo-ului */
    height: 80px; /* Înălțimea se va ajusta automat pentru a menține proporțiile */
    margin-right: 10px; /* Margin-right între logo și textul din bara de navigare, puteți ajusta după nevoie */
    /* Alte stilizări aici, cum ar fi umbre, borduri etc. */
}
.errorlist{
    color:red;
    list-style-type: none;
}
/* styles.css */

/* Stilizare pentru bara de navigare */
/*!*.navbar {*!*/
/*!*    background-color: #1D3557;*!*/
/*!*    font-size: 17px;*!*/
/*!*    font-weight: 500;*!*/
/*!*    font-stretch: normal;*!*/
/*!*    line-height: 1.18;*!*/
/*!*    letter-spacing: .45px;*!*/
/*!*    font-style: inherit;*!*/
/*!*    font-family: "Open Sans",Helvetica,Arial,sans-serif;*!*/
/*!*    color: white;*!*/
/*!*}*!*/
/*!*!* Stilurile implicite ale elementelor din navbar *!*!*/
/*!*.navbar-nav .nav-link,*!*/
/*!*.navbar-toggler-icon,*!*/
/*!*.dropdown-item,*!*/
/*!*.btn-outline-success*!*/
/*!*{*!*/
/*!*    outline: none; !* Elimină conturul implicite *!*!*/
/*!*    border: none; !* Elimină bordura implicite *!*!*/
/*!*}*!*/

/*!*!* Adaugă un contur și o bordură atunci când treci cu mouse-ul peste elementele din navbar *!*!*/
/*!*.navbar-nav .nav-link:hover,*!*/
/*!*.navbar-toggler-icon:hover,*!*/
/*!*.dropdown-item:hover,*!*/
/*!*.btn-outline-success:hover {*!*/
/*!*    outline: 1px solid white; !* Culoarea conturului la hover *!*!*/
/*!*    border: 1px solid white; !* Culoarea bordurii la hover *!*!*/
/*!*    border-radius: 13px; !* Rotunjirea colțurilor bordurii la hover *!*!*/
/*!*}*!*/
/*!*!* Text alb pentru elementele din navbar *!*!*/
/*!*.navbar-nav .nav-link,*!*/
/*!*.navbar-toggler-icon,*!*/
/*!*.btn-outline-success {*!*/
/*!*    color: white !important; !* Setează culoarea textului la alb *!*!*/
/*!*}*!*/

/*!*!* Text negru pentru elementele din dropdown *!*!*/
/*!*.dropdown-item {*!*/
/*!*    color: black; !* Setează culoarea textului la negru *!*!*/
/*!*}*!*/
/*!*.dropdown-item:hover {*!*/
/*!*    color: #345A8F; !* Setează culoarea textului la albastru la hover *!*!*/
/*}*/
/*!* Stilizează meniul dropdown *!*/
/*.dropdown-menu {*/
/*    background-color: #ffffff; !* Culoarea fundalului *!*/
/*    border: 1px solid #ccc; !* Bordura *!*/
/*    border-radius: 5px; !* Rotunjirea colțurilor *!*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); !* Umbră *!*/
/*}*/

/*!* Stilizează elementele din meniul dropdown *!*/
/*.dropdown-item {*/

/*    padding: 10px 20px; !* Spațierea între text și margini *!*/
/*    transition: all 0.3s ease; !* Efect de tranziție la hover *!*/
/*    font-family: "Arial", sans-serif;*/
/*}*/

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Stilizare alertă */
.alert {
    border-radius: 10px;
    text-align: center;
    background-color: pink;
}

/* Stilizare tabel */
.table {

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    max-width: 100%; /* Imaginea nu depășește lățimea containerului caruselului */
    height: auto; /* Înălțimea se ajustează automat proporțional cu lățimea */
}

/* styles.css */
.custom-heading {
    font-size: 30px;
    letter-spacing: .03em;
    font-style: italic;
    font-family: Baskerville,serif;
    font-weight: 500;
    padding: 10px 0 30px 20px;
}







