{% extends 'base.html' %}
{% load static %}

{% block title %} List of products {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm"
                             style="border-radius: 10px; overflow: hidden;">
                            {% if product.image %}
                                <img src="{{ product.image.url }}"
                                     class="card-img-top" alt="Product Image"
                                     style="object-fit: cover; height: 200px;">
                            {% else %}
                                <img src="{% static 'images/booksstore.jpg' %}"
                                     class="card-img-top" alt="Default Image"
                                     style="object-fit: cover; height: 200px;">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"
                                    style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">{{ product.title }}</h5>
                                <p class="card-text"
                                   style="font-size: 14px; color: #555; margin-bottom: 15px;">{{ product.author }}</p>
                                <p class="card-text"
                                   style="font-size: 16px; font-weight: bold; color: #28a745;">{{ product.price }}
                                    de lei</p>
                                {% if product.in_stock %}
                                    <p class="card-title"
                                       style="font-size: 14px; color: #28a745;">
                                        Produsul este în stoc</p>
                                {% else %}
                                    <p class="card-title"
                                       style="font-size: 14px; color: #dc3545;">
                                        Produsul nu este în stoc</p>
                                {% endif %}
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'add-to-cart' product.id %}" class="btn btn-outline-primary">Add to cart</a>
                                <a href="#" class="btn btn-outline-danger">Add to wishlist</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="col-md-8 offset-md-2">
                            <div class="alert alert-info" role="alert">
                                No products available!
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}

