{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/llo.gif' %}" alt="Logo-ul Navbar"
                 class="logo-img">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" style="color: white" aria-current="page"
                       href="{% url 'home_page' %}">HOME</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            CATEGORY
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{% url 'create-category' %}">Create a
                                new category</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'list-of-category' %}">List of
                                categories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            PRODUCT
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                   href="{% url 'create-product' %}">Create a
                                new product</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'list-of-products' %}">List of
                                products</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        ALL CATEGORIES
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'products-by-category' category.id %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </li>


            </ul>
            {% if user.is_authenticated %}
                <div class="btn-group dropstart">
                    <button type="button"
                            class="btn btn-outline dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: white; ">
                        MY PROFILE
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{% url 'password_change' %}">Change
                            password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
                        </li>
                    </ul>
                </div>
                <a href="{% url 'cart-list' %}" class="btn btn-outline-primary mx-2">
                    <i class="fas fa-shopping-cart"></i> CART
                </a>
                <a href="#" class="btn btn-danger">
                    <i class="fas fa-heart"></i> WISHLIST
                </a>

            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right:10px;">
                        <a href="{% url 'login' %}"
                           class="btn btn-outline-primary">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'create-user' %}"
                           class=" btn btn-outline-danger">Sign Up</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>